.card
	background: #F9F9F9
	border-radius: 20px
	border: 1px solid transparent
	position: relative
	transition: var(--transition-ms)

.image
	border-top-left-radius: 25px
	border-top-right-radius: 25px
	overflow: hidden
	transition: var(--transition-ms)
	img
		width: 100%
		height: 180px
		object-fit: cover
		object-position: center

.content
	padding: 12px

.title
	font-family: var(--font-roadradio)
	font-size: 24px
	font-weight: 300
	line-height: 0.9
	text-transform: uppercase

.info
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 12px
	margin-top: 12px
	padding-bottom: 12px
	border-bottom: 1px solid #D9D9D9

.name,
.meta
	width: 100%
	min-height: 28px
	border-radius: 99px
	display: flex
	align-items: center
	justify-content: center
	font-size: 12px
	line-height: 1.2
	padding: 6px 10px

.name
	background: #013E77
	color: var(--color-white)
	font-size: 10px
	line-height: 10px
	min-height: 0
	grid-column: 1 / -1

.meta
	gap: 10px
	cursor: pointer
	background: #D9D9D9
	color: #353535

	&::after
		content: ''
		display: block
		width: 14px
		height: 8px
		background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0.5H0M14 7.5H0M14 4H3.5' stroke='%23353535'/%3E%3C/svg%3E%0A")

.time
	width: 100%
	background: var(--color-white)
	font-size: 12px
	line-height: 1.3
	display: flex
	align-items: center
	justify-content: center
	gap: 4px
	padding: 8px
	border-radius: 8px
	border: 1px solid #D9D9D9

	span
		display: inline-flex
		width: fit-content
		background: rgba(32, 128, 211, 0.1)
		border-radius: 4px
		padding: 4px

.price
	display: flex
	align-items: center
	justify-content: space-between
	gap: 12px
	padding-top: 12px

	b
		font-size: 24px
		line-height: 1
		font-weight: 600

	span
		font-size: 12px
		line-height: 1.35
		opacity: 0.5
		max-width: 145px

.controls
	margin-top: 20px
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 12px

.btn,
.btnOutline
	min-height: 40px
	border-radius: 14px
	display: flex
	align-items: center
	justify-content: center
	font-size: 16px
	line-height: 1
	font-weight: 700
	transition: var(--transition-ms)

.btn
	background: var(--color-accent)
	color: var(--color-white)
	border: 1px solid var(--color-accent)

.btnOutline
	background: transparent
	color: var(--color-accent)
	border: 1px solid var(--color-accent)
