.search
	display: inline-flex
	align-items: center
	gap: 8px
	height: 48px
	padding: 0 12px
	border-radius: 12px
	background: #F9F9F9
	flex: 1

.icon
	display: inline-flex
	align-items: center
	justify-content: center
	flex-shrink: 0

.input
	width: 100%
	min-width: 0
	font-size: 16px
	font-weight: 600
	line-height: 1.2

	&::placeholder
		color: rgba(53, 53, 53, 0.48)
