.card
	background: #F9F9F9
	border-radius: 18px
	overflow: hidden

.image
	height: 140px
	position: relative

	img
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center

.controls
	position: absolute
	top: 8px
	left: 8px
	right: 8px
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	gap: 4px

.content
	padding: 12px

.name
	font-size: 20px
	text-transform: uppercase
	font-family: var(--font-roadradio)
	line-height: 0.8
	font-weight: 300

.info
	margin-top: 8px
	font-size: 14px
	font-weight: 600
	line-height: 1.2

.more
	width: 100%
	height: 38px
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	border-radius: 10px
	background: var(--color-accent)
	color: var(--color-white)
	font-size: 16px
	font-weight: 700
	margin-top: 20px

.block
	width: 28px
	height: 28px
	border-radius: 100%
	background: var(--color-white)
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	margin-left: auto
	cursor: pointer
