.card
	background: #F9F9F9
	border-radius: 12px
	overflow: hidden

.image
	width: 100%
	height: 140px
	position: relative
	img
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center

.content
	padding: 12px
	display: flex
	flex-direction: column
	align-items: flex-start

.name
	font-family: var(--font-roadradio)
	font-size: 24px
	font-weight: 300
	line-height: 0.9
	text-transform: uppercase

.meta
	width: 100%
	display: flex
	justify-content: space-between
	gap: 12px
	margin: 12px 0 20px
	font-size: 16px
	line-height: 1.2
	font-weight: 600

.actions
	width: 100%
	display: grid
	grid-template-columns: 1fr
	gap: 10px

.primary
	width: 100%
	min-height: 38px
	border-radius: 10px
	font-size: 16px
	font-weight: 700
	text-align: center
	display: inline-flex
	align-items: center
	justify-content: center
	background: var(--color-accent)
	color: var(--color-white)

.control
	position: absolute
	top: 8px
	right: 8px
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 4px

.secondary
	padding: 8px 16px
	border-radius: 99px
	background: #fff
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 6px
	font-size: 14px
	font-weight: 600
	line-height: 16px
	&::before
		content: ''
		display: block
		width: 12px
		height: 10px
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 3L6 0.113249V5.88675L11 3ZM11 9V8.5H4V9V9.5H11V9ZM4 3V3.5H6.5V3V2.5H4V3ZM1 6H1.5C1.5 4.61929 2.61929 3.5 4 3.5V3V2.5C2.067 2.5 0.5 4.067 0.5 6H1ZM4 9V8.5C2.61929 8.5 1.5 7.38071 1.5 6H1H0.5C0.5 7.933 2.067 9.5 4 9.5V9Z' fill='black'/%3E%3C/svg%3E%0A")

.danger
	width: 32px
	height: 32px
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	border-radius: 99px
	background: #fff
	&::before
		content: ''
		display: block
		width: 14px
		height: 14px
		background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4416_225412)'%3E%3Cpath d='M12.2493 2.33333H10.441C10.3056 1.67499 9.94741 1.08345 9.42675 0.658415C8.90608 0.233382 8.2548 0.000844658 7.58268 -3.8147e-06L6.41602 -3.8147e-06C5.7439 0.000844658 5.09262 0.233382 4.57195 0.658415C4.05129 1.08345 3.69307 1.67499 3.55768 2.33333H1.74935C1.59464 2.33333 1.44627 2.39479 1.33687 2.50418C1.22747 2.61358 1.16602 2.76195 1.16602 2.91666C1.16602 3.07137 1.22747 3.21975 1.33687 3.32914C1.44627 3.43854 1.59464 3.5 1.74935 3.5H2.33268V11.0833C2.33361 11.8566 2.6412 12.5979 3.18798 13.1447C3.73476 13.6915 4.47609 13.9991 5.24935 14H8.74935C9.52261 13.9991 10.2639 13.6915 10.8107 13.1447C11.3575 12.5979 11.6651 11.8566 11.666 11.0833V3.5H12.2493C12.4041 3.5 12.5524 3.43854 12.6618 3.32914C12.7712 3.21975 12.8327 3.07137 12.8327 2.91666C12.8327 2.76195 12.7712 2.61358 12.6618 2.50418C12.5524 2.39479 12.4041 2.33333 12.2493 2.33333V2.33333ZM6.41602 1.16666H7.58268C7.94451 1.1671 8.29734 1.27947 8.59279 1.48834C8.88824 1.69721 9.11184 1.99237 9.23293 2.33333H4.76577C4.88686 1.99237 5.11046 1.69721 5.40591 1.48834C5.70136 1.27947 6.05419 1.1671 6.41602 1.16666V1.16666ZM10.4993 11.0833C10.4993 11.5475 10.315 11.9926 9.98679 12.3208C9.6586 12.649 9.21348 12.8333 8.74935 12.8333H5.24935C4.78522 12.8333 4.3401 12.649 4.01191 12.3208C3.68372 11.9926 3.49935 11.5475 3.49935 11.0833V3.5H10.4993V11.0833Z' fill='%23EE3939'/%3E%3Cpath d='M5.83333 10.4996C5.98804 10.4996 6.13641 10.4382 6.24581 10.3288C6.35521 10.2194 6.41666 10.071 6.41666 9.91629V6.4163C6.41666 6.26159 6.35521 6.11322 6.24581 6.00382C6.13641 5.89443 5.98804 5.83297 5.83333 5.83297C5.67862 5.83297 5.53025 5.89443 5.42085 6.00382C5.31146 6.11322 5.25 6.26159 5.25 6.4163V9.91629C5.25 10.071 5.31146 10.2194 5.42085 10.3288C5.53025 10.4382 5.67862 10.4996 5.83333 10.4996Z' fill='%23EE3939'/%3E%3Cpath d='M8.16732 10.4996C8.32203 10.4996 8.47041 10.4382 8.5798 10.3288C8.6892 10.2194 8.75066 10.071 8.75066 9.91629V6.4163C8.75066 6.26159 8.6892 6.11322 8.5798 6.00382C8.47041 5.89443 8.32203 5.83297 8.16732 5.83297C8.01261 5.83297 7.86424 5.89443 7.75484 6.00382C7.64544 6.11322 7.58398 6.26159 7.58398 6.4163V9.91629C7.58398 10.071 7.64544 10.2194 7.75484 10.3288C7.86424 10.4382 8.01261 10.4996 8.16732 10.4996Z' fill='%23EE3939'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4416_225412'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
