.card
	background: #F9F9F9
	border-radius: 12px
	overflow: hidden

.image
	width: 100%
	height: 200px
	position: relative
	img
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center

.content
	padding: 12px
	display: flex
	flex-wrap: wrap
	flex-direction: column
	align-items: flex-start

.name
	font-family: var(--font-roadradio)
	font-size: 24px
	font-weight: 300
	line-height: 0.8
	text-transform: uppercase

.price
	font-size: 20px
	line-height: 1.2
	font-weight: 600
	margin: 12px 0 20px

.btn
	margin-top: auto
	width: 100%
	font-size: 17px
	line-height: 0.9
	padding: 14px 0
	border-radius: 14px
	background: var(--color-accent)
	color: var(--color-white)
	font-weight: 700
	text-align: center

.like
	position: absolute
	top: 12px
	right: 12px
	width: 28px
	height: 28px
	border-radius: 100%
	background: var(--color-white)
	border: 1px solid #D9D9D9

	--fill: #fff
	--stroke: #D9D9D9
	cursor: pointer
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	svg
		display: block
		path
			transition: var(--transition-ms)
	&:hover
		// --fill: #E41B1B
		--stroke: #E41B1B

@media (max-width: 1600px)
	.name
		font-size: 20px

@media (max-width: 1200px)
	.image
		height: 160px

	.name
		font-size: 16px
		line-height: 0.9

	.price
		font-size: 16px
		line-height: 1

	.btn
		font-size: 14px
		padding: 12px
		border-radius: 8px
