.grid
	display: flex
	flex-wrap: wrap
	gap: 12px

.colSm
	width: 320px
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	flex-direction: column
	gap: 12px

.colMd
	width: calc(100% - 320px - 12px)

.colXl
	width: 100%
