
.dashboard
	display: flex
	flex-wrap: wrap
	flex-direction: column
	align-items: flex-start
	gap: 30px

.card
	background: #F9F9F9
	border-radius: 20px
	padding: 30px
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	flex-direction: column
	gap: 30px
	width: 100%

.title
	font-size: 24px
	font-weight: 600
	line-height: 1
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 12px

.content
	padding-top: 70px
	font-size: 20px
	line-height: 1.2
	font-weight: 600

.btn
	width: 560px
	height: 68px
	background: var(--color-accent)
	border-radius: 14px
	font-size: 24px
	line-height: 0.9
	font-weight: 600
	color: var(--color-white)
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
