.title
	font-family: var(--font-roadradio)
	text-align: center
	font-size: 60px
	font-weight: 300
	line-height: 0.8
	width: 100%

@media (max-width: 1600px)
	.title
		font-size: 48px

@media (max-width: 1200px)
	.title
		font-size: 28px

@media (max-width: 600px)
	.title
		font-size: 24px
