
.form
	max-width: 640px
	margin-top: 18px

.title
	font-size: 30px
	font-weight: 600
	line-height: 1.2
	margin-top: 24px
	margin-bottom: 18px
	&:first-child
		margin-top: 0

.label
	margin-top: 14px
	display: block

	p
		font-weight: 600
		line-height: 1.2
		font-size: 16px
		margin-bottom: 8px

.actions
	margin-top: 48px
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 12px

.btn,
.btnLight
	height: 52px
	width: 214px
	border-radius: 14px
	font-size: 16px
	font-weight: 700

.btn
	color: var(--color-white)
	background: var(--color-accent)

.btnLight
	background: #EFE7DE
	color: #626262
