.header
	display: flex
	flex-wrap: wrap
	align-items: center
	padding-bottom: 55px
	position: relative
	z-index: 100

.user
	margin-left: auto
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 6px
	background: #F9F9F9
	border-radius: 8px
	padding: 12px
	position: relative
	cursor: pointer
	&.show .arrow
		transform: rotate(180deg)

.avatar
	width: 24px
	height: 24px
	border-radius: 100%
	object-fit: cover
	object-position: center

.name
	font-size: 16px
	line-height: 1.2
	font-weight: 600

.arrow
	margin-left: 8px
	transition: var(--transition-ms)
	svg
		display: block

.dropdown
	background: #F9F9F9
	border-radius: 8px
	border-top-left-radius: 0px
	border-top-right-radius: 0px
	padding: 12px
	position: absolute
	top: 0px
	left: 0
	right: 0
	font-size: 14px
	font-weight: 600
	line-height: 1.2
	pointer-events: none
	opacity: 0
	transition: var(--transition-ms)
	z-index: -1
	li
		margin-top: 12px
		&:first-child
			margin-top: 0
		a
			display: flex
			flex-wrap: wrap
			align-items: center
			gap: 6px
			span
				opacity: 0.6
	&.show
		top: calc(100% - 8px)
		opacity: 1
		pointer-events: auto

.exit
	color: #EE3939
	span
		opacity: 1 !important
