.layout
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	height: calc(100svh - 108px)
	min-height: 0
	overflow: hidden

.content
	padding: 30px 60px
	flex: 1
	overflow: auto
	height: 100%
	min-width: 0
	min-height: 0
	&::-webkit-scrollbar
		display: none

@media (max-width: 1600px)
	.layout
		height: calc(100svh - 92px)

@media (max-width: 1200px)
	.layout
		height: calc(100svh - 84px)

	.content
		padding: 20px

@media (max-width: 600px)
	.layout
		height: auto
		overflow: initial

	.content
		padding: 20px 8px
