.sidebar
	width: 520px
	height: 100%
	min-height: 0
	flex-shrink: 0
	background: #FAF7F3
	border-top-right-radius: 20px
	border-bottom-right-radius: 20px
	position: relative
	transition: var(--transition-ms)

.sidebarHide
	width: 140px

.content
	width: 100%
	height: 100%
	overflow-y: auto
	overflow-x: hidden
	padding: 20px 30px
	&::-webkit-scrollbar
		display: none

.toggle
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: calc(100% - 30px)
	width: 63px
	height: 108px
	background: url("data:image/svg+xml,%3Csvg width='64' height='108' viewBox='0 0 64 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6003_220231)'%3E%3Cpath d='M11 -432C22.0457 -432 31 -423.046 31 -412V0.583973C31 11.4048 40.3039 19.8272 49.2239 25.9527C58.1476 32.0807 64 42.3569 64 54C64 65.6431 58.1476 75.9188 49.224 82.0465C40.3038 88.1719 31 96.5942 31 107.415V520C31 531.046 22.0457 540 11 540H0V-432H11Z' fill='%23FAF7F3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6003_220231'%3E%3Crect width='64' height='108' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat right center
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center

.toggleIcon
	cursor: pointer
	border-radius: 100%
	transition: var(--transition-ms)
	svg
		display: block

.toggleIconHide
	transform: rotate(180deg)

.account
	background: var(--color-white)
	border-radius: 16px
	padding: 16px
	display: flex
	align-items: center
	gap: 24px
	margin-bottom: 12px
	transition: var(--transition-ms)
	position: relative

.accountHide
	padding: 20px
	gap: 0
	.photo
		width: 40px
		height: 40px
	.info
		width: 0
		flex: 0
		gap: 0
	.settings
		display: none
	.status
		position: absolute
		top: 12px
		left: 42px
		font-size: 0
		gap: 0
		padding: 6px

.photo
	width: 60px
	height: 60px
	border-radius: 100%
	object-fit: cover
	object-position: center
	transition: var(--transition-ms)

.info
	flex: 1
	display: flex
	flex-wrap: wrap
	flex-direction: column
	align-items: flex-start
	gap: 8px
	overflow: hidden
	transition: var(--transition-ms)
	white-space: nowrap

.name
	font-weight: 600
	font-size: 24px
	line-height: 1
	display: flex
	flex-wrap: nowrap
	align-items: center
	width: 100%
	white-space: nowrap
	span
		flex: 1

.settings
	width: 32px
	height: 32px
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	border: 1px solid var(--color-accent)
	border-radius: 100%
	cursor: pointer

.status
	font-size: 12px
	font-weight: 500
	color: #E41B1B
	background: rgba(228, 27, 27, 0.1)
	border-radius: 99px
	padding: 6px
	padding-right: 8px
	display: flex
	flex-wrap: nowrap
	align-items: center
	gap: 6px
	white-space: nowrap
	&::before
		content: ''
		display: block
		background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.2' cx='8' cy='8' r='8' fill='%23E41B1B'/%3E%3Cpath d='M7 13V10.9778H9V13H7ZM7 10V3H9V10H7Z' fill='%23E41B1B'/%3E%3C/svg%3E%0A") no-repeat
		width: 16px
		height: 16px
.nav
	padding: 10px
	background: var(--color-white)
	border-radius: 16px
	display: flex
	flex-wrap: nowrap
	align-items: flex-start
	flex-direction: column
	gap: 2px
	li
		width: 100%
		a
			display: flex
			flex-wrap: nowrap
			align-items: center
			gap: 12px
			padding: 10px
			transition: var(--transition-ms)
			border-radius: 14px
			position: relative
			p
				flex: 1
				font-size: 20px
				font-weight: 600
				color: #353535
				opacity: 0.4
				transition: var(--transition-ms)
				overflow: hidden
				white-space: nowrap
			&:hover,
			&.active
				background: rgba(201, 167, 127, 0.1)
				p
					opacity: 1
					color: var(--color-accent)
				.icon
					opacity: 1
					--icon-color: var(--color-accent)
.icon
	width: 40px
	height: 40px
	opacity: 0.4
	border-radius: 8px
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	transition: var(--transition-ms)
	--icon-color: #353535
	svg
		display: block
		path
			transition: var(--transition-ms)

.bullet
	width: 24px
	height: 24px
	display: block
	border-radius: 100%
	border: 1px solid #0385FF
	color: #0385FF
	font-size: 12px
	font-weight: 600
	line-height: 22px
	text-align: center
	background: rgba(32, 128, 211, 0.1)
	position: absolute
	top: 0
	bottom: 0
	right: 10px
	margin: auto 0

.navHide
	li
		a
			gap: 0 !important
			p
				flex: 0
				width: 0
	.bullet
		opacity: 0

.navMobile
	display: none

@media (max-width: 1600px)
	.sidebar
		width: 420px

	.sidebarHide
		width: 104px

	.content
		padding: 20px

	.toggle
		left: calc(100% - 19px)
		width: 40px
		height: 68px
		background-size: cover

	.toggleIcon
		svg
			width: 24px
			height: 24px

	.account
		border-radius: 12px
		padding: 16px
		gap: 16px

	.accountHide
		padding: 16px
		.photo
			width: 32px
			height: 32px
		.status
			top: 12px
			left: 32px

	.photo
		width: 52px
		height: 52px

	.info
		gap: 6px

	.name
		font-size: 20px

	.settings
		width: 24px
		height: 24px
		svg
			width: 12px
			height: 12px

	.status
		font-size: 10px
		padding: 4px
		padding-right: 6px
		gap: 4px
		&::before
			background-size: cover
			width: 12px
			height: 12px

	.nav
		padding: 8px
		border-radius: 12px
		li
			a
				gap: 8px
				padding: 8px
				border-radius: 8px
				p
					font-size: 16px

	.icon
		width: 32px
		height: 32px
		svg
			width: 16px
			height: 16px

	.bullet
		width: 20px
		height: 20px
		font-size: 10px
		line-height: 18px
		right: 8px

@media (max-width: 1200px) and (min-width: 600px)
	.sidebar
		width: 104px

	.account
		padding: 16px
		gap: 0
		.photo
			width: 32px
			height: 32px
		.info
			width: 0
			flex: 0
			gap: 0
		.settings
			display: none
		.status
			position: absolute
			top: 12px
			left: 32px
			font-size: 0
			gap: 0
			padding: 4px

	.nav
		li
			a
				gap: 0 !important
				p
					flex: 0
					width: 0

	.bullet
		opacity: 0

@media (max-width: 1200px)
	.toggle
		display: none

@media (max-width: 600px)
	.sidebar
		width: 100%
		height: auto
		border-radius: 0
		position: sticky
		bottom: 0
		order: 1

	.account
		display: none

	.content
		padding: 8px

	.nav
		display: none
		padding: 4px
		// height: 60px
		border-radius: 16px
		flex-direction: row
		li
			flex: 1
			a
				flex-direction: column
				gap: 0
				p
					font-size: 10px

	.navMobile
		display: flex

	.avatar
		width: 32px
		height: 32px
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: center
		img
			width: 20px
			height: 20px
			border-radius: 100%
