.cases
	padding-top: 85px
	background: var(--color-white)
	border-top-left-radius: var(--border-radius)
	border-top-right-radius: var(--border-radius)
	position: relative
	z-index: 10
	margin-top: calc(var(--border-radius) * -1)
	overflow: hidden

.carousel
	margin-top: 30px
	:global(.splide__track)
		overflow: inherit

.card
	width: 380px
	border-radius: 14px
	border: 1px solid #E6E6E6

.body
	padding: 20px 30px
	min-height: 270px

.head
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 12px

.image
	width: 100px
	height: 100px
	object-fit: cover
	object-position: center
	border-radius: 100%

.title
	font-size: 40px
	font-weight: 300
	font-family: var(--font-roadradio)
	line-height: 0.96
	flex: 1

.stats
	margin-top: 30px
	font-size: 16px
	line-height: 1.2
	font-weight: 400
	li
		display: flex
		flex-wrap: wrap
		align-items: flex-start
		margin-top: 8px
		&:first-child
			margin-top: 0
		span
			width: 220px
			color: #4D4D4D
		p
			flex: 1

.profit
	background: var(--color-accent)
	color: var(--color-white)
	border-radius: 14px
	padding: 20px 40px
	span
		font-size: 16px
		line-height: 1.2
		font-weight: 500
	p
		margin-top: 2px
		font-family: var(--font-roadradio)
		font-size: 50px
		font-weight: 300
		line-height: 0.96
		i
			font-style: normal
			font-family: var(--font-manrope)
			font-size: 36px

@media (max-width: 1600px)
	.cases
		padding-top: 60px

	.carousel
		margin-top: 24px

	.card
		width: 325px
		border-radius: 12px

	.body
		padding: 20px
		min-height: 230px

	.head
		gap: 10px

	.image
		width: 80px
		height: 80px

	.title
		font-size: 30px

	.stats
		margin-top: 24px
		font-size: 14px
		li
			span
				width: 160px

	.profit
		border-radius: 12px
		padding: 15px 20px
		span
			font-size: 14px
		p
			font-size: 40px
			i
				font-size: 30px

@media (max-width: 1200px)
	.carousel
		margin-top: 16px

	.card
		width: 275px
		border-radius: 10px

	.body
		padding: 16px
		min-height: 190px

	.image
		width: 70px
		height: 70px

	.title
		font-size: 24px

	.stats
		margin-top: 20px
		font-size: 12px
		li
			span
				width: 140px

	.profit
		border-radius: 10px
		padding: 12px 16px
		span
			font-size: 12px
		p
			font-size: 32px
			i
				font-size: 24px
