.reviews
	padding-bottom: 140px

.head
	display: flex
	flex-wrap: wrap
	align-items: flex-end
	justify-content: space-between
	gap: 40px
	:global(.title)
		flex: 1

.rating
	padding: 16px 40px
	border-radius: 14px
	border: 3px solid #E2E2E2
	display: flex
	flex-wrap: wrap
	align-items: center

.ratingCount
	margin-left: 50px
	font-weight: 600
	line-height: 1.24
	margin-right: 10px

.carousel
	margin-top: 50px
	position: relative
	:global(.splide__arrows)
		position: absolute
		top: 25px
		right: 25px
		display: flex
		flex-wrap: wrap
		align-items: center
		gap: 10px
		z-index: 20
	:global(.splide__arrow)
		position: relative
		top: 0 !important
		right: 0 !important
		bottom: 0 !important
		left: 0 !important
		display: block
		width: 100px
		height: 100px
		transform: none !important
		border-radius: 14px
		background: var(--color-accent)
		opacity: 1 !important

.card
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	gap: 30px

.imageWrap
	width: calc(100% / 2 - 15px)
	height: 555px
	border-radius: 40px
	overflow: hidden
	img
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center

.content
	width: calc(100% / 2 - 15px)
	height: 555px
	border-radius: 40px
	background: #F4F4F4
	padding: 50px
	display: flex
	flex-wrap: wrap
	flex-direction: column
	align-items: flex-start

.carName
	font-weight: 400
	font-size: 40px
	line-height: 0.96
	color: #AEAEAE
	margin-bottom: auto

.meta
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 30px

.avatar
	width: 78px
	height: 78px
	object-fit: cover
	object-position: center
	border-radius: 100%

.author
	font-size: 28px
	line-height: 1.34
	color: #4F4F4F
	opacity: 0.56

.text
	max-width: 640px
	line-height: 1.3
	margin-top: 20px
