.catalog
	background: var(--color-white)
	margin-top: calc(var(--border-radius) * -1)
	border-top-left-radius: var(--border-radius)
	border-top-right-radius: var(--border-radius)
	position: relative
	z-index: 10
	padding: 90px 0 140px
	:global(.title)
		text-align: center
		max-width: 960px
		margin: 0 auto
		img
			display: inline-block
			vertical-align: middle
			margin: 0 40px

.categories
	margin-top: 34px
	display: grid
	grid-template-columns: repeat(6, 1fr)
	gap: 18px

.categoriesItem
	font-weight: 600
	line-height: 28px
	padding: 20px
	text-align: center
	border: 2px solid var(--color-grey)
	border-radius: 14px
	cursor: pointer
	background: var(--color-white)
	transition: var(--transition-ms)
	&:hover
		background: #EFE7DE

.categoriesActive
	background: var(--color-accent) !important
	color: var(--color-white)
	border-color: var(--color-accent)

.grid
	display: grid
	grid-template-columns: repeat(3, 1fr)
	gap: 30px
	margin-top: 60px

.more
	width: 100%
	margin-top: 30px
	font-size: 24px
	line-height: 32px
	padding: 22px
	text-align: center
	color: #A39079
	font-weight: 600
	background: var(--color-accent-light)
	border-radius: 14px
	cursor: pointer
	transition: var(--transition-ms)
	&:hover
		background: var(--color-accent)
		color: var(--color-white)

@media (max-width: 1600px)
	.catalog
		padding: 70px 0 100px
		:global(.title)
			img
				margin: 0 26px
				width: 42px

	.categories
		margin-top: 24px
		gap: 12px

	.categoriesItem
		line-height: 22px
		padding: 16px
		border-radius: 10px

	.grid
		margin-top: 40px

	.more
		font-size: 18px
		line-height: 22px
		padding: 18px
		border-radius: 10px

@media (max-width: 1200px)
	.catalog
		padding: 50px 0 70px
		:global(.title)
			img
				margin: 0 22px
				width: 30px

	.categories
		margin-top: 16px
		gap: 10px

	.categoriesItem
		line-height: 18px
		padding: 10px
		border-radius: 8px
		font-size: 14px
		border-width: 1px

	.grid
		margin-top: 30px

	.more
		font-size: 16px
		padding: 12px
		border-radius: 8px

@media (max-width: 1024px)
	.catalog
		padding: 60px 0

	.categories
		margin-top: 24px
		gap: 12px
		grid-template-columns: repeat(4, 1fr)

	.grid
		gap: 10px
		grid-template-columns: repeat(2, 1fr)

	.more
		padding: 14px
		margin-top: 20px

@media (max-width: 576px)
	.catalog
		padding: 40px 0 60px
		:global(.title)
			img
				display: none

	.categories
		background: #F2F2F2
		border-radius: 14px
		padding: 10px
		display: flex
		overflow: auto
		width: 100%

	.categoriesItem
		min-width: 122px
		padding: 14px 0
		line-height: 10px

	.grid
		margin-top: 20px
		grid-template-columns: repeat(1, 1fr)
