.steps
	padding-top: 120px
	overflow: hidden
	counter-reset: items

.list
	margin-top: 30px
	:global(.scroller)
		overflow: initial
	:global(.scroller-container):before,
	:global(.scroller-container):after
		display: none !important
	:global(.scroller-content)
		gap: 30px

.card
	width: 420px
	position: relative
	counter-increment: items
	&::before
		content: counter(items, decimal-leading-zero)
		position: absolute
		top: 20px
		left: 20px
		font-size: 20px
		font-weight: 300
		line-height: 0.96
		z-index: 5
		font-family: var(--font-roadradio)

.title
	margin-top: 30px
	padding-right: 16px
	text-transform: uppercase
	font-family: var(--font-roadradio)
	font-weight: 300
	line-height: 0.96
	font-size: 40px

.text
	margin-top: 5px
	font-size: 20px
	line-height: 1.2

.image
	pointer-events: none
	height: auto

@media (max-width: 1600px)
	.steps
		padding-top: 80px

	.list
		margin-top: 22px
		:global(.scroller-content)
			gap: 28px

	.card
		width: 310px
		&::before
			top: 14px
			left: 14px
			font-size: 14px

	.title
		margin-top: 22px
		padding-right: 0
		font-size: 30px

	.text
		margin-top: 3px
		font-size: 16px

@media (max-width: 1200px)
	.steps
		padding-top: 60px

	.list
		margin-top: 22px
		:global(.scroller-content)
			gap: 20px

	.card
		width: 380px
		&::before
			top: 14px
			left: 14px
			font-size: 14px

	.title
		font-size: 28px

	.text
		margin-top: 8px

	.image
		height: 280px
		object-fit: cover
		object-position: center
		border-radius: 10px

@media (max-width: 1024px)
	.steps
		padding-top: 60px

	.list
		margin-top: 16px
		:global(.scroller-content)
			gap: 16px

	.card
		width: 340px
